@model ArizaApp.Models.Entities.AppUser


@{
    Layout = "_Layout";

}
<h2 class="text-center">Merhaba @Model.Name!</h2>

<row>
    <div class="mt-3 d-flex justify-content-center">
        <a asp-controller="Admin" asp-action="ChangePassword" class="btn btn-primary text-center">Şifre Değiştir</a>
    </div>
</row>
<hr>