@using System.Linq
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model System.Collections.Generic.List<ArizaApp.Models.Entities.FirmRecord>

@{
    ViewBag.Title = "Firmalar";
    Layout = "_Layout";
}

<a class="btn btn-primary font-weight-bold my-3" asp-action="CreateFirm" asp-controller="Firm">Yeni Firma</a>

<table id="getFirms" class="display table table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>Firma Adı</th>
        <th>Email Adresleri</th>
        <th style="max-width: 300px">İşlemler</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var firm in Model)
    {
        <tr class="text-center">
            <td>@firm.FirmName</td>
            <td>
                @foreach (var email in firm.Emails.Take(5))
                {
                    <span class="badge bg-success">@email.EmailAddress </span>
                }
                @if(firm.Emails.Count() > 5) { <span class="badge bg-info">More...</span> }
            </td>
            <td>
                <a asp-controller="Firm" asp-action="UpdateFirm" asp-route-id="@firm.Id" class="btn btn-warning btn-sm">Güncelle</a>
                <a asp-controller="Firm" asp-action="DeleteConfirmFirm" asp-route-id="@firm.Id" class="btn btn-danger btn-sm">Sil</a>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <th>Firma Adı</th>
        <th>EmailAdresleri</th>
        <th style="max-width: 300px">İşlemler</th>
    </tr>
    </tfoot>
</table>