@{
    Layout = "_Layout";
}

<h1 class="text-center font-weight-bold">Bu sayfaya erişim izniniz yoktur. Erişim izni almak için site yöneticisi ile görüşünüz.</h1>
<h2 class="text-center"><a class="btn btn-primary" asp-action="Index" asp-controller="Home">Anasayfaya Dön</a></h2>