@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Merhaba</h1>
    <p>DT Bildiri Uygulamasına Hoş Geldiniz!</p>
    <div class="border border-warning col-2 offset-5">
        <br>
        <h3 class="bold">Hızlı Menü</h3>
        <br>
        <a class="btn btn-primary" asp-controller="Notification" asp-action="CreateArizaNotification">Yeni Bildiri Oluştur</a><br>
        <a class="btn btn-primary" asp-controller="Firm" asp-action="GetFirms">Firmalar</a><br>
        <a class="btn btn-primary" asp-controller="Mail" asp-action="GetEmails">Mail Adresleri</a>
        <br>
    </div>
</div>